.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.profile-image,
.small-avatar {
  width: 30px;
  height: 30px;
}

.profile-image {
  margin-top: -7px;
}

.profile-name {
  margin-left: 10px;
  text-decoration: none !important;
}


#body-container {
  margin-top: 15px;
  background-color: #F8F9FA;
  border-radius: 10px;
  height: 500px;
}

/* #EFF0F0 */

.search-input {
  margin-left: 3px;
  width: 220px;
}

.member {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  margin-left: 3px;
  width: 220px;
}

.member:hover {
  cursor: pointer;
  opacity: 0.8;
  background: #EAEAEA;
  border-radius: 5px;
}

.member>img {
  position: relative;
  max-width: 52px;
  float: left;
  margin-right: 15px;
  border-radius: 5px;
}

.member .user-name {
  display: block;
  font-size: 1.0em;
  padding-top: 3px;
  margin-left: 60px;
  margin-bottom: 0px;
}

.member .user-subhead {
  font-size: 0.875em;
}

.side-bar {
  padding-top: 10px;
  overflow-y: scroll;
  height: 500px;
}

.message-board {
  margin-top: 10px;
  background: white;
  border-radius: 10px 10px 3px 3px;
  border: 1px solid #ced4da;
  height: 430px;
}

.current-chat {
  height: 43px;
  background: #EAEAEA;
  border-radius: 9px 9px 0 0;
  border: 1px solid #EAEAEA;
  padding-left: 10px;
}

.message-input {
  margin-top: 10px;
}

/*  */

.message-list {
  padding-top: 10px;
  overflow-y: scroll;
  height: 385px;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 98%;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.received_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 40%;
  word-wrap: break-word;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 40%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
  word-wrap: break-word;
}

.chat-img {
  max-width: 300px;
}

div.file {
  margin: 10px;
  float: right;
  width: 118px;
}
input.file {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}